<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid px-md-4	">
	      <a class="navbar-brand" href="index.html">Skillhunt</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nwaav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/browse" class="nav-link"> Conferences</a></li>
	          <li class="nav-item"><a href="/browse" class="nav-link">Canditates</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	          <li class="nav-item cta mr-md-1"><a href="/post" class="nav-link">Import Conference</a></li>
	          <li class="nav-item cta cta-colored"><a href="/create" class="nav-link">Upload a conference</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentPath = window.location.pathname;
            const navItems = document.querySelectorAll('.navbar-nav .nav-item');

            navItems.forEach(item => {
                const link = item.querySelector('a');
                if (link && link.getAttribute('href') === currentPath) {
                    item.classList.add('active');
                } else {
                    item.classList.remove('active');
                }
            });
        });
    </script>